name: Keep Render Awake

on:
  schedule:
    - cron: "*/15 * * * *" # cada 15 minutos
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Random ping to keep backend alive
        run: |
          urls=(
            "https://aerotickets-api.onrender.com/health"
            "https://aerotickets-api.onrender.com/api/flights"
            "https://aerotickets-api.onrender.com/hola"
          )
          r=$((RANDOM % ${#urls[@]}))
          curl -s "${urls[$r]}" > /dev/null
          echo "Pinged ${urls[$r]} at $(date)"